# Jest
#
.jest/
# Visual Studio Code
#
.vscode/
# node.js
#
node_modules/
npm-debug.log
yarn-error.log


#google services 
android/.gradle
android/app/build
android/app/google-services.json
.idea/
android/.idea/
android/local/
android/local.properties
android/app/app.iml
